{% extends 'base.html'%}

{% block content %}
<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">
            <h4 class="text-center my-3 pb-3">Tags<a href="{% url 'todo_app:tag-create' %}" class="btn btn-primary">&#10010;</a></h4>
            {% if object_list %}
            <table class="table mb-4">
              <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
              </tr>
              </thead>
              <tbody>

              {% for tag in object_list %}
              <tr>
                <td>{{ tag.pk }}</td>
                <td>{{ tag.name }}</td>
                <td>
                  <a href="{% url 'todo_app:tag-update' tag.pk %}" class="btn btn-primary">Update</a>
                  <a href="{% url 'todo_app:tag-delete' tag.pk %}" class="btn btn-danger">Delete</a>
                </td>
              </tr>
              {% endfor %}
              {% else %}
                <h2>No tags yet</h2>
              {% endif %}
              </tbody>

            </table>
            {% block paginator %}
              {% include 'includes/paginator.html' %}
            {% endblock %}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
